/*
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';

@import 'pages/index';
*/
@import 'core/variables';
@import "core/reset";
@import 'layout/header';
@import "layout/footer";
@import "layout/landing";
:root{
    font-family: $main-font;
    font-size: 62.5%;
    margin: 0 20px;
}


.body {
  background-image: url(/images/background3.jpg);
  background-position: top;
  background-size: strech;

}
